*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

section[id]{
	scroll-margin-top: 80px ;
}

nav{
	background-color: #eda01c;
	height: 80px;
	width: 100%;
	position: fixed;
	z-index: 1000;
}

.enlace{
	position: absolute;
	padding: 10px;
}

.navbar-logo{
	margin-top: 5px;
	max-width: 100%;
	height: auto;
	max-height: 50px;
}

nav ul{
	float: right;
	margin-right: 20px;
}

nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0px 5px;
}

nav ul li a{
	color: white;
	font-size: 18pt;
	padding: 7px 13px;
}

nav ul li i{
	color: #214fb1;
	font-size: 18pt;
}
nav ul li a.active,
nav ul li a:hover{
	color: black;
}

nav ul li i.active,
nav ul li i:hover{
	color: rgb(246, 207, 13);
	cursor: pointer;
}
.checkbtn {
	font-size: 30px;
	color: white;
	float:right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

@media (max-width: 900px){
	.enlace{
		padding-left: 20px;
	}
	nav ul li a, i {
		font-size: 16px;
	}
}

@media (max-width: 800px){
	.checkbtn{
		display: block;
	}
	nav label i{
		font-size: 30px;
	}


	nav ul {
		position: fixed;
		width:100%;
		height: 100vh;
		background-color: #c58414;
		top: 80px;
		left: -100%;
		transition: all 0.5s;
	}

	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}

	nav ul li a{
		font-size: 20pt;
	}

	nav ul li i{
		font-size: 20pt;
		margin-left: 20px;
	}

	#check:checked~ul{
		left: 0;
	}
}

.btn-scrolltop{
	position: fixed;
	bottom: 20px;
	left: 20px;
	background: #5de713;
	padding: 10px 10px;
	color: white;
	border-radius: 100%;
	border: 2px solid #fff;
	cursor: pointer;
	transform: translate(100px);
	transition: 0.3s;
}

.btn-scrolltop-on {
	transform: translateY(0);
}