*{
	box-sizing: border-box;
	font-family: 'Sego UI',Tahoma,Geneva,Verdana,sans-serif;
}

.Inicio{
	width: 100%;
	height: 100vh;
	background-color: rgb(89, 223,233);
	display: flex;
	justify-content: center;
	align-items: center;
}

.Nosotros{
	width: 100%;
	height: 100vh;
	background-color: rgb(18, 75, 75);
	display: flex;
	justify-content: center;
	align-items: center;
}

.Contactenos{
	width: 100%;
	height: 100vh;
	background-color: rgb(45, 96, 226);
	display: flex;
	justify-content: center;
	align-items: center;
}
.Servicios{
	width: 100%;
	height: 100vh;
	background-color: rgb(62, 95,	95);
	display: flex;
	justify-content: center;
	align-items: center;
}
.Productos{
	width: 100%;
	height: 100vh;
	background-color: rgb(176, 223,	67);
	display: flex;
	justify-content: center;
	align-items: center;
}
.Footer{
	width: 100%;
	height: 100vh;
	background-color: rgb(58, 60,	55);
	display: flex;
	justify-content: center;
	align-items: center;
}